@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* Colors */

/*
60% of #677F98 - Primary
30% of #676798 - Secondary
10% of #679898 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor:#cfcfcf;

/* var(--secondaryColor) !important; */
--secondaryColor:#2920df;

/* var(--accentColor) !important; */
--accentColor:#C4BBB2;

/* var(--fontFamily) !important; */
--fontFamily:"Quicksand", sans-serif;

}