<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Get in Touch</h3>
          <ul>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="support.html">Help & Support</a></li>
            <li><a href="feedback.html">Send Feedback</a></li>
            <li><a href="collaborate.html">Collaborate with Us</a></li>
          </ul>
        </div>

        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Listening Info</h3>
          <ul>
            <li><a href="genres.html">Browse Genres</a></li>
            <li><a href="moods.html">Moods & Moments</a></li>
            <li><a href="random.html">Surprise Me</a></li>
          </ul>
        </div>

        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>For Creators</h3>
          <ul>
            <li><a href="submit-music.html">Submit Your Music</a></li>
            <li><a href="promote.html">Promote Your Tracks</a></li>
          </ul>
        </div>

        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Explore</h3>
          <ul>
            <li><a href="top-picks.html">Top Picks</a></li>
            <li><a href="new-releases.html">New Discoveries</a></li>
            <li><a href="playlists.html">Curated Playlists</a></li>
            <li><a href="blog.html">Music Blog</a></li>
          </ul>
        </div>
      </div>

      <!-- Social Media Icons -->
      <div class="text-center mt-4">
        <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <!-- End Footer Row -->
</footer>
